.gom--wrapper {
  position: relative;
}

.gom--container {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 50%;
  overflow: hidden;
  text-align: center;
  transform: translateX(-50%);
}

.gom--background {
  z-index: 0;
  position: absolute;
  background-color: #C0D3D3;
  top: 0;
}

.gom--data {
  z-index: 1;
  position: absolute;
  background-color: #007979;
  margin-left: auto;
  margin-right: auto;
  transform-origin: center bottom;
  transition: all 1s ease-in-out;
}

.gom--center {
  z-index: 2;
  position: absolute;
  background-color: #fff;
  margin-right: auto;
}
