.gom--wrapper {
  position: relative;

  height: calc(120px + 3em);
}

.gom--container {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 50%;
  overflow: hidden;
  text-align: center;
  transform: translateX(-50%);

  width: 240px;
  height: 120px;
}

.gom--background {
  z-index: 0;
  position: absolute;
  background-color: #C0D3D3;
  top: 0;
  border-radius: 300px 300px 0 0;

  width: 240px;
  height: 120px;
}

.gom--data {
  z-index: 1;
  position: absolute;
  background-color: #007979;
  margin-left: auto;
  margin-right: auto;
  border-radius: 300px 300px 0 0;
  transform-origin: center bottom;
  transition: all 1s ease-in-out;

  width: 240px;
  height: 120px;
}

.gom--center {
  z-index: 2;
  position: absolute;
  background-color: #fff;
  margin-right: auto;
  border-radius: 300px 300px 0 0;

  width: 144px;
  height: 72px;
  top: 48px;
  margin-left: 48px;
}
