.gom--wrapper {
  position: relative;
  text-align: center;
}

.gom--container {
  position: relative;
  overflow: hidden;
  left: 50%;
  transform: translateX(-50%);
}

.gom--background {
  z-index: 0;
  position: absolute;
  background-color: #C0D3D3;
  top: 0;
}

.gom--data {
  z-index: 1;
  position: absolute;
  background-color: #007979;
  margin-left: auto;
  margin-right: auto;
  transform-origin: center bottom;
  transition: all 1s ease-in-out;
}

.gom--center {
  z-index: 2;
  position: absolute;
  background-color: #fff;
  margin-right: auto;
}

.gom--needle {
  z-index: 3;
  background-color: #F77C15;
  position: relative;
  transform-origin: left center;
  transition: all 1s ease-in-out;
}

.gom--labels {
  position: relative;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
}

.gom--labels_value {
  margin: 0 0 5px;
}

.gom--labels .gom--labels_min,
.gom--labels .gom--labels_max {
  flex: 1;
  margin: 5px 0 0;
}
